{% INCLUDE 'overall_header.html' %}

<a name="maincontent"></a>

{% if S_ERROR %}
<div class="errorbox">
	<h3>{{ lang('WARNING') }}</h3>
	<p>{{ ERROR_MSG }}</p>
</div>
{% endif %}

{% if S_QC_CONFIG %}
<h1>{{ lang('ACP_DM_QC') }} - {{ lang('ACP_DM_QC_CONFIG') }}</h1>
<p>{{ lang('ACP_DM_QC_CONFIG_EXPLAIN') }}</p>

<p><img src="https://img.shields.io/badge/{{ lang('Version') }}-{{ DM_QC_VERSION }}-green.svg?style=plastic" /></p>

<form id="acp_dm_qc_config" method="post" action="{{ U_ACTION }}">
	<fieldset>
		<legend>{{ lang('ACP_DM_QC_CONFIG') }}</legend>
		<dl>
			<dt><label>{{ lang('ACP_DM_QC_ENABLE') }}{{ lang('COLON') }}</label><br /><span>{{ lang('ACP_DM_QC_ENABLE_EXPLAIN') }}</span></dt>
			<dd><label><input type="radio" class="radio" name="qc_enable" value="1"{% if QC_ENABLE %} id="qc_enable" checked="checked" {% endif %} /> {{ lang('YES') }}</label>
			<label><input type="radio" class="radio" name="qc_enable" value="0"{% if not QC_ENABLE %} id="qc_enable" checked="checked" {% endif %} /> {{ lang('NO') }}</label></dd>
		</dl>
		<dl>
			<dt><label>{{ lang('ACP_DM_QC_INDEX') }}{{ lang('COLON') }}</label><br /><span>{{ lang('ACP_DM_QC_INDEX_EXPLAIN') }}</span></dt>
			<dd><label><input type="radio" class="radio" name="show_index" value="1"{% if SHOW_INDEX %} id="show_index" checked="checked" {% endif %} /> {{ lang('YES') }}</label>
			<label><input type="radio" class="radio" name="show_index" value="0"{% if not SHOW_INDEX %} id="show_index" checked="checked" {% endif %} /> {{ lang('NO') }}</label></dd>
		</dl>
		<dl>
			<dt><label>{{ lang('ACP_DM_QC_ENABLE_VIEWFORUM') }}{{ lang('COLON') }}</label><br /><span>{{ lang('ACP_DM_QC_ENABLE_VIEWFORUM_EXPLAIN') }}</span></dt>
			<dd><label><input type="radio" class="radio" name="qc_enable_viewforum" value="1"{% if QC_ENABLE_VIEWFORUM %} id="qc_enable_viewforum" checked="checked" {% endif %} /> {{ lang('YES') }}</label>
			<label><input type="radio" class="radio" name="qc_enable_viewforum" value="0"{% if not QC_ENABLE_VIEWFORUM %} id="qc_enable_viewforum" checked="checked" {% endif %} /> {{ lang('NO') }}</label></dd>
		</dl>

		<dl>
			<dt><label>{{ lang('ACP_DM_QC_ENABLE_VIEWTOPIC') }}{{ lang('COLON') }}</label><br /><span>{{ lang('ACP_DM_QC_ENABLE_VIEWTOPIC_EXPLAIN') }}</span></dt>
			<dd><label><input type="radio" class="radio" name="qc_enable_viewtopic" value="1"{% if QC_ENABLE_VIEWTOPIC %} id="qc_enable_viewtopic" checked="checked" {% endif %} /> {{ lang('YES') }}</label>
			<label><input type="radio" class="radio" name="qc_enable_viewtopic" value="0"{% if not QC_ENABLE_VIEWTOPIC %} id="qc_enable_viewtopic" checked="checked" {% endif %} /> {{ lang('NO') }}</label></dd>
		</dl>
		<dl>
			<dt><label>{{ lang('ACP_DM_QC_GUESTS') }}{{ lang('COLON') }}</label><br /><span>{{ lang('ACP_DM_QC_GUESTS_EXPLAIN') }}</span></dt>
			<dd><label><input type="radio" class="radio" name="guests_enable" value="1"{% if GUESTS_ENABLE %} id="guests_enable" checked="checked" {% endif %} /> {{ lang('YES') }}</label>
			<label><input type="radio" class="radio" name="guests_enable" value="0"{% if not GUESTS_ENABLE %} id="guests_enable" checked="checked" {% endif %} /> {{ lang('NO') }}</label></dd>
		</dl>
		<dl>
			<dt><label>{{ lang('ACP_DM_QC_APPROVAL') }}{{ lang('COLON') }}</label><br /><span>{{ lang('ACP_DM_QC_APPROVAL_EXPLAIN') }}</span></dt>
			<dd><label><input type="radio" class="radio" name="approval_enable" value="1"{% if APPROVAL_ENABLE %} id="approval_enable" checked="checked" {% endif %} /> {{ lang('YES') }}</label>
			<label><input type="radio" class="radio" name="approval_enable" value="0"{% if not APPROVAL_ENABLE %} id="approval_enable" checked="checked" {% endif %} /> {{ lang('NO') }}</label></dd>
		</dl>
		<dl>
			<dt><label for="pagination_acp">{{ lang('ACP_DM_QC_PAGI_ACP') }}{{ lang('COLON') }}</label><br /><span>{{ lang('ACP_DM_QC_PAGI_ACP_EXPLAIN') }}</span></dt>
			<dd><input type="text" id="pagination_acp" name="pagination_acp" value="{{ PAGINATION_ACP }}" maxlength="8" size="10" /></dd>
		</dl>
		<dl>
			<dt><label for="pagination_acp">{{ lang('ACP_DM_QC_PAGI_USER') }}{{ lang('COLON') }}</label><br /><span>{{ lang('ACP_DM_QC_PAGI_USER_EXPLAIN') }}</span></dt>
			<dd><input type="text" id="pagination_user" name="pagination_user" value="{{ PAGINATION_USER }}" maxlength="8" size="10" /></dd>
		</dl>
		<dl>
			<dt><label for="delay">{{ lang('ACP_DM_QC_DELAY') }}{{ lang('COLON') }}</label><br /><span>{{ lang('ACP_DM_QC_DELAY_EXPLAIN') }}</span></dt>
			<dd><input type="text" id="delay" name="delay_set" value="{{ DELAY_SET }}" maxlength="8" size="10" /> min.</dd>
		</dl>
	</fieldset>
	<p class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
		<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
	</p>
</form>
{% endif %}

{% if S_QC_LIST %}
{% if S_QC_RELEASE %}
<h1>{{ lang('ACP_DM_QC') }} - {{ lang('ACP_DM_QC_RELEASE') }}</h1>
<p>{{ lang('ACP_DM_QC_RELEASE_EXPLAIN') }}</p>
{% else %}
<h1>{{ lang('ACP_DM_QC') }} - {{ lang('ACP_DM_QC_EDIT') }}</h1>
<p>{{ lang('ACP_DM_QC_EDIT_EXPLAIN') }}</p>

<form id="add_quote" method="post" action="{{ S_ACTION }}">
	<fieldset class="tabulated">
		<input type="hidden" name="action" value="add_quote" />
		<input class="button2" name="add_quote" type="submit" value="{{ lang('ACP_DM_QC_ADD') }}" />
		{{ S_FORM_TOKEN }}
	</fieldset>
</form>

{% endif %}
<p>&nbsp;</p>
{% if loops.pagination|length or TOTAL_QUOTES %}
<div class="pagination">
	{{ TOTAL_QUOTES }}
	{% if loops.pagination|length %}
		{% INCLUDE 'pagination.html' %}
	{% else %}
		&bull; {{ PAGE_NUMBER }}
	{% endif %}
</div>
{% endif %}
<table>
	<thead>
		<tr>
			<th>{{ lang('ACP_DM_QC_ID') }}</th>
			<th>{{ lang('ACP_DM_QC_QUOTE') }}</th>
			<th>{{ lang('ACP_DM_QC_AUTHOR') }}</th>
			<th>{{ lang('ACP_DM_QC_POSTER') }}</th>
			<th>{{ lang('ACP_DM_QC_DATE') }}</th>
			<th>{{ lang('ACP_DM_QC_APPROVE') }}</th>
			<th>{{ lang('ACTION') }}</th>
		</tr>
	</thead>
	<tbody>
		{% for quotes in loops.quotes %}
		{% if quotes.S_ROW_COUNT is even %}<tr class="row1">{% else %}<tr class="row2">{% endif %}
			<td>{{ quotes.ID }}</td>
			<td style="text-align: center;">{{ quotes.QUOTE }} </td>
			<td style="text-align: center;">{{ quotes.AUTHOR }}</td>
			<td style="text-align: center;">{{ quotes.POSTER }}</td>
			<td style="text-align: center;">{{ quotes.DATE }}</td>
			<td style="text-align: center;">{{ quotes.APPROVAL }}</td>
			<td>&nbsp;<a href="{{ quotes.U_EDIT }}">{{ ICON_EDIT }}</a> <a href="{{ quotes.U_DEL }}" data-ajax="row_delete">{{ ICON_DELETE }}</a>&nbsp;</td>
		</tr>
		{% else %}
		<tr>
			<td colspan="{% if S_CLEAR_ALLOWED %}7{% else %}6{% endif %}">{{ lang('ACP_DM_QC_NO_QUOTES') }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% if loops.pagination|length or TOTAL_QUOTES %}
<div class="pagination">
	{{ TOTAL_QUOTES }}
	{% if loops.pagination|length %}
		{% INCLUDE 'pagination.html' %}
	{% else %}
		&bull; {{ PAGE_NUMBER }}
	{% endif %}
</div>
{% endif %}
{% if not S_QC_RELEASE %}
<form action="{{ S_QUOTES_ACTION }}" method="post">
	<fieldset class="display-options">
		<span class="gensmall">{{ lang('SORT_BY') }}</span> {{ S_SELECT_SORT_KEY }} {{ S_SELECT_SORT_DIR }}&nbsp;
		<input class="button2" type="submit" name="sort" value="{{ lang('GO') }}" />
	</fieldset>
</form>
{% endif %}
{% endif %}

{% if S_QC_ADD %}
<h1>{{ lang('ACP_DM_QC') }} - {{ lang('ACP_DM_QC_ADD') }}</h1>
<p>{{ lang('ACP_DM_QC_ADD_EXPLAIN') }}</p>

<form method="post" action="{{ U_ACTION }}">
	<p>
		<input type="hidden" name="add_new" value="add_new" />
	</p>
	<fieldset>
		{% if S_QC_EDIT %}
			<legend>{{ lang('ACP_DM_QC_EDIT') }}</legend>
		{% else %}
			<legend>{{ lang('ACP_DM_QC_ADD') }}</legend>
		{% endif %}
		<dl>
			<dt><label>{{ lang('ACP_DM_QC_QUOTE') }}{{ lang('COLON') }}</label><br /><span>{{ lang('ACP_DM_QC_QUOTE_EXPLAIN') }}</span></dt>
			<dd><textarea rows="9" name="quote" cols="52">{{ QUOTE }}</textarea></dd>
		</dl>
		<dl>
			<dt><label>{{ lang('ACP_DM_QC_AUTHOR') }}{{ lang('COLON') }}</label><br /><span>{{ lang('ACP_DM_QC_AUTHOR_EXPLAIN') }}</span></dt>
			<dd><input type="text" name="author" size="52" value="{{ AUTHOR }}" /></dd>
		</dl>
		{% if S_QC_APPROVAL_NEEDED %}
		<dl>
			<dt><label>{{ lang('ACP_DM_QC_APPROVE') }}{{ lang('COLON') }}</label><br /><span>{{ lang('ACP_DM_QC_APPROVE_EXPLAIN') }}</span></dt>
			<dd><label><input type="radio" class="radio" name="approved" value="1"{% if APPROVED %} id="approved" checked="checked" {% endif %} /> {{ lang('YES') }}</label>
			<label><input type="radio" class="radio" name="approved" value="0"{% if not APPROVED %} id="approved" checked="checked" {% endif %} /> {{ lang('NO') }}</label></dd>
		</dl>
		{% endif %}
	</fieldset>
	<fieldset class="submit-buttons">
		<legend>{{ lang('SUBMIT') }}</legend>
		<input class="button1" id="submit" name="submit" value="{{ lang('SUBMIT') }}" type="submit" />&nbsp;
		<input class="button2" id="reset" name="reset" value="{{ lang('RESET') }}" type="reset" />
	</fieldset>
</form>
{% endif %}

{% if S_QC_EDIT %}
<h1>{{ lang('ACP_DM_QC') }} - {{ lang('ACP_DM_QC_EDIT') }}</h1>
<p>{{ lang('ACP_DM_QC_EDIT_EXPLAIN') }}</p>

<form method="post" action="{{ U_ACTION }}">
	<p>
		<input type="hidden" name="id" value="{{ ID }}" />
		<input type="hidden" name="poster_id" value="{{ POSTER_ID }}" />
	</p>
	<fieldset>
		{% if S_QC_EDIT %}
			<legend>{{ lang('ACP_DM_QC_EDIT') }}</legend>
		{% else %}
			<legend>{{ lang('ACP_DM_QC_ADD') }}</legend>
		{% endif %}
		<dl>
			<dt><label>{{ lang('ACP_DM_QC_QUOTE') }}{{ lang('COLON') }}</label><br /><span>{{ lang('ACP_DM_QC_QUOTE_EXPLAIN') }}</span></dt>
			<dd><textarea rows="9" name="quote" cols="52">{{ QUOTE }}</textarea></dd>
		</dl>
		<dl>
			<dt><label>{{ lang('ACP_DM_QC_AUTHOR') }}{{ lang('COLON') }}</label><br /><span>{{ lang('ACP_DM_QC_AUTHOR_EXPLAIN') }}</span></dt>
			<dd><input type="text" name="author" size="52" value="{{ AUTHOR }}" /></dd>
		</dl>
		{% if S_QC_APPROVAL_NEEDED %}
		<dl>
			<dt><label>{{ lang('ACP_DM_QC_APPROVE') }}{{ lang('COLON') }}</label><br /><span>{{ lang('ACP_DM_QC_APPROVE_EXPLAIN') }}</span></dt>
			<dd><label><input type="radio" class="radio" name="approved" value="1"{% if APPROVED %} id="approved" checked="checked" {% endif %} /> {{ lang('YES') }}</label>
			<label><input type="radio" class="radio" name="approved" value="0"{% if not APPROVED %} id="approved" checked="checked" {% endif %} /> {{ lang('NO') }}</label></dd>
		</dl>
		{% endif %}
	</fieldset>
	<fieldset class="submit-buttons">
		<legend>{{ lang('SUBMIT') }}</legend>
		<input class="button1" id="submit" name="submit" value="{{ lang('SUBMIT') }}" type="submit" />&nbsp;
		<input class="button2" id="reset" name="reset" value="{{ lang('RESET') }}" type="reset" />
	</fieldset>
</form>
{% endif %}

{% INCLUDE 'overall_footer.html' %}