{% if S_DM_QUOTES_ENABLE %}
{% if S_ADMIN_CHECK %}
<div id="message" class="rules">
	<div class="inner">
		<strong>{{ lang('INFORMATION') }}{{ lang('COLON') }}</strong> {{ NUMBER_QUOTES }} {{ GO_ACP }}
	</div>
</div>
{% endif %}
{% if S_USER_LOGGED_IN and S_VIEW_QUOTE or S_DM_GUESTS_ENABLE and S_VIEW_QUOTE %}

{% if QUOTE_IS_COLLAPSIBLE %}
<a class="category{% if S_QUOTE_HIDDEN %} hidden-category{% endif %}" style="display: none; height: 0"></a>
{% endif %}

<div class="forabg qc-quotes">
	<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl class="row-item">
					<dt>{{ lang('DM_QC_HEADER') }}</dt>
					<dd></dd>
				</dl>
				{% if QUOTE_IS_COLLAPSIBLE %}
				<a href="{{ U_QUOTE_COLLAPSE_URL }}"
					class="collapse-btn quote-collapse"
					data-hidden="{{ S_QUOTE_HIDDEN }}"
					data-ajax="phpbb_collapse"
					data-overlay="true"
					data-title-alt="{{ lang('DM_QC_COLLAPSE_TITLE', ((not S_QUOTE_HIDDEN) * 1)) }}"
					title="{{ lang('DM_QC_COLLAPSE_TITLE', (S_QUOTE_HIDDEN * 1)) }}">
					<i class="fa {% if S_QUOTE_HIDDEN %}fa-plus-square{% else %}fa-minus-square{% endif %}"></i>
				</a>
				{% endif %}
			</li>
		</ul>
		<ul class="topiclist forums{% if QUOTE_IS_COLLAPSIBLE %} collapsible{% endif %}">
			<li>
				<dl>
					<dt>
						<div class="qc-quote-body">
							{% if S_USER_LOGGED_IN %}
							<span class="qc-add">
								<a href="{{ U_ALL_QUOTES }}">{{ lang('DM_QC_ALL') }}</a> {% if S_ADD_QUOTE %}| <a href="{{ U_ADD_QUOTE }}">{{ lang('DM_QC_ADD') }}</a>{% endif %} | <a href="{{ U_OWN_QUOTES }}">{{ lang('DM_QC_OWN') }}</a>
							</span>
							{% endif %}
							<span>{{ POSTED_BY }}</span><hr />
							<span class="qc-quote">{{ lang('DM_QC_QUOTES') }} {{ QUOTE }}</span>
							<span class="qc-author">{{ AUTHOR }}</span>
						</div>
					</dt>
					<dd style="border: none"></dd>
				</dl>
			</li>
		</ul>
	</div>
</div>
{% endif %}
{% endif %}